
.homepage {
  margin: 0;
}

.headerdiv {
  background-image: linear-gradient(#5477b7 25%, #7face3 75%, #86b4e8 100%);
  width: 100%;
  height: 240px;
}

.headerbg {
  background-color: transparent;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  width: inherit;
  height: inherit;
}

.headertext {
  position: relative;
  width: inherit;
  height: inherit;
}

.headertext p {
  bottom: 0;
  font-size: 85px;
  color: #fff;
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
}



.navibar {
  /* border:  solid 5px;  */
  /* background-color: burlywood; */
  /* padding: 5px; */
  /* outline: 5px solid coral;  */
  /* display: block; */
  display: flex;
  margin: auto; 
  border-radius: 5px; 
  border: 8px solid crimson;  
  width: 97vw;
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 2px;
}

.navibar a {
  /* outline: orangered 5px; */
  /* background-color: burlywood; */
  background-color: #f0fff0;
  border-right: solid crimson 8px;
  display: block;
  float: left;
  font-size: 24px;
  width: 19.9%; 
  height: inherit;
  text-align: center;
  text-decoration: none;
  padding-top: 2px;
  
}

.mainblock {
  background-color: burlywood; 
  /* font-family: cursive; */
  margin: 0 auto;
  width: 100%;
  display: flex; 
  /* border: 25px; */
}

.mainblock p {
  /* border: 12px; */
  /* font-family: 'Courgette', cursive; */
  font-size: 28px; 
  font-style: italic;
  margin: 20px;

}

.woodbadge {
  font-size: 50px;
  font-family: Woodbadge;
  color: sienna;
  text-align: initial;
}

.column-a { 
  flex: 1;
  /* border-top: 12px; */
font-family: 'Indie Flower', cursive;
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Satisfy', cursive; */
}

.whiskey-the-goat {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.column-b { 
  flex: 1;
  /* border: 12px; */
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Satisfy', cursive;   */
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Caveat', cursive; */
  /* font-family: 'Great Vibes', cursive; */

}

.kate-links {
  color: sienna ; 
} 

.kate-links:hover {
  color: #5b845c; 
  transition: 0.3s; 
}

.column-b-what-the-cluck {
  /* border: 3px solid black;  */
  border-radius: 50px;
  /* padding: 5px; */
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
} 

.flower-cross { 
  border-radius: 50px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
} 


.column-c { 
  flex: 1;
  /* border-top: 20px; */
  font-family: 'Indie Flower', cursive;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Satisfy', cursive; */
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Caveat', cursive; */
    /* font-family: 'cookie', cursive; */

}

.damn-it-sandy {
  border-radius: 50px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column-c-four-eyes {
  display: block;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

.column-c-four-eyes:hover {
  transform: scale(-1, 1); 
  -o-transform: scale(-1, 1); 
  -webkit-transform: scale(-1, 1); 
}

.gregory {
  border-radius: 50px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #5477b7;
  position: absolute;
  width: 100%;
  
  /* margin: 10px; */
}

.footer a {
  margin: 10 8px; 
}

.footer p {
  font-size: 20px;
  color: #fff;
  margin: 12px;
}

.social-media-links {
  vertical-align: middle; 
  width: 48px;
  /* float:right; */
}

.chicken-fans {
  border-radius: 50px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footermap {  
  display: block; 
  height: 200px; 
  float:right;
  margin-top: 1%; 
  margin-right: 3%; 
  margin-left: 3%; 
  /* margin-bottom: 50px;  */
}

.social-media {
  display: block; 
  height: 250px;
  float: left;
  margin-top: 0.5%; 
  margin-right: 3%; 
  margin-left: 3%; 
}





/* .chicken-fans2 {
  /* flex-direction: row;   */
  /* float: left;  */
    /* display: block; */
    /* height: 350px; */
  /* float: left;  */
    /* margin-top: 3%;
    margin-right: 3%; 
    margin-left: 3%;  */


/* 
.footermap {
    display: block;
    width: 15%;
    float: right; 
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
} */

